<header id="calender-page-header" class="teal lighten-3 z-depth-4 valign-wrapper">
  <h1 class='valign center-align'>Chose a time.</h1>
</header>
<div class='calender-page-body z-depth-3'>
  <ul class="collapsible" data-collapsible="collapsible">
    <li>
      <div class="collapsible-header">
        <p class='calender-time-range'>Midnight - 5</p>
      </div>
      <div class="collapsible-body">
        <ul class='collapsible' data-collapsible='collapsible'>
          <li>
            <div class='collapsible-header'>
              <p class='callender-time'>12:00am</p>
            </div>
            <div class="collapsible-body">
              <ul>
                <li>Event1</li>
                <li>Event2</li>
                <li>Evnet3</li>
              </ul>
            </div>
          </li> 
        </ul>
      </div>
    </li>
    <li>
      <div class="collapsible-header">Second</div>
      <div class="collapsible-body"><p>Lorem ipsum dolor sit amet.</p></div>
    </li>
    <li>
      <div class="collapsible-header">Third</div>
      <div class="collapsible-body"><p>Lorem ipsum dolor sit amet.</p></div>
    </li>
  </ul>
</div> 
